body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; /* Light blue background */
  }
  
  .header {
    background-color: #79a7ff; /* Medium blue header */
    padding: 20px;
    text-align: center;
    color: #fff; /* White text */
  }
  
  .main {
    padding: 50px;
  }
  
  .courses {
    margin-bottom: 50px;
  }
  
  .courses h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #333; /* Dark text */
  }
  
  .courses ul {
    list-style: none;
    padding: 0;
  }
  
  .courses li {
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    transition: all 0.2s ease-in-out;
  }
  
  .courses li:hover {
    background-color: #e6f2ff; /* Lighter blue hover effect */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .courses li h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .courses li p {
    font-size: 1em;
    line-height: 1.5;
  }
  
  .courses li a {
    background-color: #3399ff; /* Blue button */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    transition: all 0.2s ease-in-out;
  }
  
  .courses li a:hover {
    background-color:
  